<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Billbank.IEPlugin.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Billbank.IEPlugin.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Billbank.IEPlugin.Settings>
      <setting name="PluginVersion" serializeAs="String">
        <value>0.6.24</value>
      </setting>
      <setting name="LocationUrl" serializeAs="String">
        <value>https://irachunki.pl/miniWeb/</value>
      </setting>
      <setting name="PluginTitle" serializeAs="String">
        <value>iRachunki.pl</value>
      </setting>
      <setting name="ProviderId" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>https://www.mbank.com.pl</string>
            <string>https://secure.inteligo.com.pl</string>
            <string>https://www.pekao24.pl</string>
            <string>https://ssl.bsk.com.pl</string>
            <string>https://www.centrum24.pl</string>
            <string>https://www.ipko.pl</string>
            <string>https://www.millenet.pl</string>
            <string>https://www.managerland.pl</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ProviderClass" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Billbank.IEPlugin.Provider.MBankProvider</string>
            <string>Billbank.IEPlugin.Provider.InteligoProvider</string>
            <string>Billbank.IEPlugin.Provider.Pekao24Provider</string>
            <string>Billbank.IEPlugin.Provider.IngProvider</string>
            <string>Billbank.IEPlugin.Provider.BzWbkProvider</string>
            <string>Billbank.IEPlugin.Provider.PkoProvider</string>
            <string>Billbank.IEPlugin.Provider.MilleniumProvider</string>
            <string>Billbank.IEPlugin.Provider.MilleniumProvider</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ChoseBankLink" serializeAs="String">
        <value>https://irachunki.pl/miniWeb/chooseBank.action?version=</value>
      </setting>
      <setting name="MaxReload" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LogoutUrl" serializeAs="String">
        <value>https://irachunki.pl/miniWeb/logout.action</value>
      </setting>
      <setting name="Pekao24PredefinedJspUrl" serializeAs="String">
        <value>mJump('MCP/server/MTPredefinedAccount.jsp',1, '?')</value>
      </setting>
      <setting name="Pekao24NotPredefinedJspUrl" serializeAs="String">
        <value>mJump('MCP/server/MTNotPredefinedAccount.jsp',1, '?')</value>
      </setting>
      <setting name="Pekao24PredefinedHtmUrl" serializeAs="String">
        <value>mJump('/MCP/MTPredefinedAccount.htm',1, '?')</value>
      </setting>
      <setting name="Pekao24NotPredefinedHtmUrl" serializeAs="String">
        <value>mJump('/MCP/MTNotPredefinedAccount.htm',1, '?')</value>
      </setting>
      <setting name="LinksInnerHtmlToHandle" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>zobacz wskazówki</string>
            <string>załóż bezpłatne konto</string>
            <string>zobacz demo</string>
            <string>zamknij to okienko</string>
            <string>regulaminem</string>
            <string>zobacz co zrobić</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="BanksListLink" serializeAs="String">
        <value>https://irachunki.pl/miniWeb/banksList.action?version=</value>
      </setting>
      <setting name="PluginTooltip" serializeAs="String">
        <value>Podręczna Lista Rachunków</value>
      </setting>
      <setting name="FirstExecutionLink" serializeAs="String">
        <value>https://irachunki.pl/plrInstalled.action</value>
      </setting>
    </Billbank.IEPlugin.Settings>
  </applicationSettings>
  <userSettings>
    <Billbank.IEPlugin.Settings>
      <setting name="ReloadCount" serializeAs="String">
        <value>0</value>
      </setting>
    </Billbank.IEPlugin.Settings>
  </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
